html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar {
    background: #232a31 none repeat scroll 0 0;
    border-bottom: 0 none;
}
.navbar-header {
    min-height: 80px;
}
.jumbotron {color:#232a31}
.site-index .jumbotron {padding-top: 100px;background: #232a31 url("/assets_app/images/main-bg.jpg") no-repeat scroll 0 0 / cover ;height:500px;margin-top: -70px}
h1, h2, h3, h4 {
    font-weight: bold;
}
.navbar .nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    color: #2cc76a;
}
.navbar .nav {
    padding: 13px;
}
.btn-success {
    background-color: #2cc76a;
    background-image: none;
    border-color: #2cc76a;
}
.btn-info {
    background-color: #2db6d8;
    background-image: none;
    border-color: #2db6d8;
}

.bs-docs-sidebar  { margin-top: 25px}
    .bs-docs-sidebar  li > a {
    display: block;
    font-weight: 500;
    padding: 4px 20px;
}
.bs-docs-sidebar  li > a:focus, .bs-docs-sidebar  li > a:hover {
    background-color: transparent;
    border-left: 1px solid #563d7c;
    padding-left: 19px;
    text-decoration: none;
}
.bs-docs-sidebar  .active:focus > a, .bs-docs-sidebar  .active:hover > a, 
.bs-docs-sidebar  .active > a {
    background-color: transparent;
    border-left: 2px solid #563d7c;
    font-weight: 700;
    padding-left: 18px;
}